@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Encode+Sans:wght@300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
body{
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .music-card{
    border-radius: 50px;
    box-shadow: 5px 5px 10px #7a7a7a, -5px -5px 10px #fbf9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    background-color: #DAE5F7;
    color: white;
}
.empty{
    border-radius: 50px;
    padding: 25px 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8d6df8;
}
.main .music-card .empty #title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    margin: 15px 0px;
}
.main .music-card .empty #artist{
    text-transform: uppercase;
    font-size: 25px;
    opacity: 30%;
    margin-bottom: 30px;
}
.main .music-card .empty .song-logo{
    box-shadow: 5px 5px 10px #533e9b, -5px -5px 10px #4e3896;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px 0px;
    border: 15px solid white;
}
.main .music-card .empty .song-logo img{
    width: 100%;
    height: 100%;
}
.main .music-card .music-controls{
    padding: 15px 35px;
    margin: 0px 0px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    color: #8d6df8;
}
.main .music-card .music-controls i{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: 0.5s;
}
.main .music-card .music-controls i:hover{
    color: antiquewhite;
    background-color: black;
}
.progress-container{
    width: 100%;
    padding: 15px 35px;
    color: #787474;
}
.progress-div{
    width: 100%;
    background-color: #C0DAED;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress{
    position: absolute;
    height: 50%;
    left: 0;
    background-color: #8d6df8;
    width: 0%;
    border-radius: 10px;
    z-index: 999999;
    pointer-events: none;
}
.progress-time{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .main .music-card{
        width: 90vw;
    }
    .main .music-card .empty  #title{
        text-align: center;
        font-size: 20px;
    }
    .main .music-card .empty  #artist{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .main .music-card .music-controls i{
        width: 50px;
        height: 50px;
  }
  .main .music-card .music-controls{
    font-size: 20px;
  }
}
